<% content_for :title, "All restaurants" %>

<section class="flex sm:flex-row justify-between items-center mb-7 flex-col gap-4">
  <h1 class="heading-1">Restaurants</h1>
  <%= link_to "Add restaurant", new_restaurant_path, class: "btn-primary" %>
</section>

<% if @restaurants.any? %>
  <article class="grid md:grid-cols-2 xl:grid-cols-3 gap-8 mb-7">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <section class="rounded overflow-hidden bg-white dark:bg-slate-800 border border-gray-300 dark:border-gray-700">
          <div class="h-[250px]">
            <%= image_tag(url_for(restaurant.logo), alt: restaurant.name, class: "w-full h-full object-cover") %>
          </div>
            <h2 class="font-medium text-xl text-center py-2"><%= restaurant.name %></h2>
        </section>
      <% end %>
    <% end %>
  </article>
<% else %>
  <p class="font-medium text-gray-700 dark:text-gray-400 text-center">No restaurants created yet.</p>
<% end %>
