<% content_for :title, "Restaurants" %>

<section class="flex justify-between items-center mb-7">
  <h1 class="text-3xl font-bold">Restaurants</h1>
  <%= link_to "Add restaurant", new_restaurant_path, class: "bg-slate-900 hover:bg-slate-700 text-white px-4 py-2 rounded font-semibold dark:bg-sky-500 dark:hover:bg-sky-400" %>
</section>

<% if @restaurants.any? %>
  <article class="grid md:grid-cols-2 xl:grid-cols-3 gap-10 mb-7">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <section class="rounded overflow-hidden bg-white dark:bg-slate-800 border border-gray-300 dark:border-gray-700">
          <div class="h-[250px]">
            <%= image_tag(url_for(restaurant.logo), alt: restaurant.name, class: "w-full h-full object-cover") %>
          </div>
            <h2 class="font-medium text-xl text-center py-2"><%= restaurant.name %></h2>
        </section>
      <% end %>
    <% end %>
  </article>
<% else %>
  <p class="font-medium text-center justify-center">No restaurants created yet.</p>
<% end %>

